* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Arial, sans-serif;
}

body {
  background: #f1f5f9;
}

/* Topbar */
.topbar {
  min-height: 70px;
  background: #e0723b;
  color: white;
  align-items: center;
  gap: 20px;
}

.topbar-right {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  right: 50px;
}
.logoutBtn{
  border-radius: 10% ;
  width: 100px;
  height: 40px;
}
/* Layout */
.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 300px;
  background: #1f2933;
  color: #e5e7eb;
  height: calc(100vh - 50px);
  position: absolute;
  left: 0;
}

/* Profile */
.profile {
  padding: 20px;
  border-bottom: 1px solid #374151;
}

.online {
  color: #22c55e;
  font-size: 12px;
}

/* Sidebar menu item */
.menu-item {
  border-bottom: 1px solid #2b3640;
}

/* Main clickable row */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu-header:hover {
  background: #2b3640;
}

/* Left side icon + text */
.menu-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Arrow */
.arrow {
  transition: transform 0.3s ease;
  font-size: 14px;
}

/* Submenu */
.submenu {
  background: #111827;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Submenu item */
.submenu-item {
  padding: 12px 50px;
  font-size: 14px;
  cursor: pointer;
  color: #cbd5f5;
}

.submenu-item:hover {
  background: #1f2933;
}

/* Open state */
.menu-item.open .submenu {
  max-height: 200px;
}

.menu-item.open .arrow {
  transform: rotate(90deg);
}

/* Main Content */
.content {
  flex: 1;
  padding: 30px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  color: white;
  padding: 20px;
  border-radius: 5px;
}

/* .cards .blue { background: #0ea5e9; }
.cards .green { background: #16a34a; }
.cards .orange { background: #f59e0b; }
.cards .red { background: #ef4444; } */

.topbar {
  display: flex;
  height: 50px;
  width: 100%;
}

/* SAME width as sidebar */
.topbar-left {
  width: 300px; /* match sidebar width */
  background: #1f2933;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
}

/* Remaining space */
