<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>E-Campus Admin</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<!-- Overlay -->
  <div class="overlay"></div>

  <div class="login-container">
    <div class="login-box">
          <div class="logo">
    <img src="../img/logo banner.png" alt="College Logo" >
  </div>

      <div class="college-text">
        <p>E-Campus Admin</p>
      </div>

      <form id="loginForm">
        <input type="text" id="name" placeholder="User name" required>
        <input type="password" id="logPassword" placeholder="Password" required>
         <select id="yearSelect"></select>
         
        <button type="submit">Login</button>
      </form>
      <p id="message"></p>
    </div>
  </div>

  
  <script src="../js/auth.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>

